ul{
    list-style-type: none;
}
.receiveContainer{
    padding: 0;
}
.fileRow{
    margin: 0 !important;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(107, 107, 107);
}
.fileList{
    max-height: 200px;
    margin: auto;
    padding: auto;
}
.fileListContainer{
    min-height: 200px;
    max-height: 200px;
    margin: auto;
    padding: auto;
}
.fileNameContainer{
    margin: 0;
}
.downloadListContainer{
    padding: 5%;
}
.downloadAllContainer{
    padding-top: 3%;
}